@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-zinc-900 text-zinc-300 font-mono px-6 lg:px-0;
}

html::-webkit-scrollbar-track {
  background-color: var(--scroll-track, transparent);
  border-radius: var(--scroll-track-radius, var(--scroll-radius));
}

html::-webkit-scrollbar {
  width: var(--scroll-size, 10px);
  height: var(--scroll-size, 10px);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color, grey);
  background-image: var(--scroll-thumb, none);
  border-radius: var(--scroll-thumb-radius, var(--scroll-radius));
}

.ProseMirror {
  @apply rounded-lg focus:outline-none p-6 grow;

  > * + * {
    margin-top: 0.75em;
  }

  ol {
    @apply list-decimal ml-1;

    ol {
      @apply list-decimal ml-4;

      li::marker {
        @apply text-zinc-500;
      }
    }
  }

  ul {
    @apply list-disc ml-1;

    ul {
      @apply list-disc ml-4;

      li::marker {
        @apply text-zinc-500;
      }
    }
  }

  ul[data-type="taskList"] {
    list-style: none;
    padding: 0;

    p {
      margin: 0;
    }

    ul {
      @apply ml-0;
    }

    li {
      display: flex;

      > label {
        flex: 0 0 auto;
        user-select: none;
      }

      > div {
        flex: 1 1 auto;
      }
    }
  }

  input[type="checkbox"] {
    @apply appearance-none border border-zinc-500 rounded-sm w-4 h-4 mr-2 transition duration-200 ease-in-out;

    &:checked {
      @apply bg-zinc-200;
    }

    &:focus {
      @apply ring-2 ring-zinc-500;
    }
  }
}
